.host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  width: 160px;

  &_name {
    font-size: 18px;
    font-weight: 500;
    color: $color-secondary;
    text-align: right;
    margin: 0;
    padding-top: 10px;

    @media screen and (max-width: 445px) {
      font-size: 12px;
    }
  }

  &_picture {
    width: 64px;
    height: 64px;
    border-radius: 100px;

    @media screen and (max-width: 445px) {
      width: 32px;
      height: 32px;
    }
  }
}
